<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.svetkin.optrou/menu.application.title" opened="true">
        <item view="optrou_User.list" title="msg://com.svetkin.optrou.view.user/UserListView.title"/>
        <item view="optrou_FuelStation.list"
              title="msg://com.svetkin.optrou.view.fuelstation/fuelStationListView.title"/>
        <item view="optrou_Route.list" title="msg://com.svetkin.optrou.view.route/routeListView.title"/>
        <item view="optrou_Driver.list" title="msg://com.svetkin.optrou.view.driver/driverListView.title"/>
        <item view="optrou_Vehicle.list" title="msg://com.svetkin.optrou.view.vehicle/vehicleListView.title"/>
        <item view="optrou_Trip.list" title="msg://com.svetkin.optrou.view.trip/tripListView.title"/>
        <item view="optrou_FuelStationBrand.list"
              title="msg://com.svetkin.optrou.view.fuelstationbrand/fuelStationBrandListView.title"/>
        <item view="optrou_RefuellingPlan.list"
              title="msg://com.svetkin.optrou.view.refuellingplan/refuellingPlanListView.title"/>
    </menu>

</menu-config>